<section id="footer" >
    <section class="container_footer {{ grid_size }}">
       <div class="container_footer" >
        <p><a href="datenschutz">Datenschutz</a></p>
        <p><a href="impressum">Impressum</a></p>
        </div>        
    </section>
</section>
