<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|td('de', 'd M y, H:m') }}">

        <i class="fa fa-calendar"></i> {{ page.date|td('de', 'd M y, H:m') }}
    </time>
</span>
